<h1>Delete Goal</h1>
<%= form_for @goal do |f| %>
  <%= f.text_field :description, placeholder: "Description" %><br>
  <%= f.text_field :time_to_complete, placeholder: "Desired Completion Date" %><br>
  <%= f.submit "Delete Goal" %>
<% end %>
